<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/favicon.ico">
	<!-- <link rel="stylesheet" href="https://qbstatic.com/css/quotations-v3.css" /> Optional theme -->
	<link rel="stylesheet" href="https://qbstatic.com/desktop/css/proposals.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://qbstatic.com/desktop/js/popper.min.js"></script>
	<script src="https://qbstatic.com/desktop/js/bootstrap.min.js"></script>
	<script src="https://qbstatic.com/desktop/js/semantic.js"></script>
	<script src="https://qbstatic.com/js/jquery.min.js"></script>
	<script src="https://qbstatic.com/js/bootstrap.min.js"></script>
	<script src="https://qbstatic.com/desktop/js/popper.min.js"></script>
	<script src="https://qbstatic.com/desktop/js/bootstrap.min.js"></script>
	<script src="https://qbstatic.com/desktop/js/semantic.js"></script>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
		type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<title>Health Proposal Form | Quickbima.com - Health Insurance</title>
	<!-- <link href="sass/proposals.css" rel="stylesheet">
	<link href="sass/datedropper.css" rel="stylesheet"> -->
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
		type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</head>

<body>

	<nav class="navbar fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<a class="navbar-brand" href="#"><img src="https://www.quickbima.com/images/QuickBima_logo.svg
" class="quickbimaLogo" alt="Quickbima"></a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container proposalWrapper">
		<div class="row">
			<div class="col-3 leftSidebar text-center">
				<div class="oneMaleOneC"></div>
				<h4 class="mb-3">{{healthCover}}</h4>
				<img src="{{imageLogo}}" class="imgHeight" alt="insurer">
				<p>ProHealth Protect Plan</p>
				<h4><i class="fa fa-inr"></i>{{sumInsured}}</h4>
				<p>Sum Insured</p>
				<h4>1 Year</h4>
				<p>Policy Tenure</p>
				<!-- <h4 class="mb-4">New NCB 35%</h4>
				<h4 class="premium"><img src="images/loader.svg" height="10px" alt="loader"></h4> -->
				<h4 class="premium"><i class="fa fa-inr"></i>{{finalPremium.toFixed(2)}}</h4>
				<p>Total Premium (Incl. GST)</p>
			</div>
			<div class="col-9 proposalForm pl-5">



				<!-- This title will be common for all sections -->
				<div class="sectionTitle">
					<div class="container text-center">
						<div class="col-9 offset-3">
							<h5>Benefits and Discounts</h5>
						</div>
					</div>
				</div>

				<!-- Add-on -->
				<section class="d-" id="proposerAddOns">
					<div class="row healthAddons" *ngFor="let i of middleSection">
						<div class="col-md-9">
							<div *ngIf="i.title == 'Portability' ">
								<span class="policyport"></span>
							</div>
							<div *ngIf="i.title == 'Opt for a Top-up Plan and avail discount on your premium' ">
								<span class="topupplan"></span>
							</div>
							<div *ngIf="i.title == 'Hospital Cash' ">
								<span class="hospitalcash"></span>
							</div>
							<div *ngIf="i.title == 'Critical Illness' ">
								<span class="criticalillness"></span>
							</div>
							<div *ngIf="i.title == 'Pro Health-Cumulative Bonus Booster' ">
								<span class="topupplan"></span>
							</div>
							<div *ngIf="i.title == 'ProHealth-Reduction in Maternity waiting' ">
								<span class="maternity"></span>
							</div>
							<div *ngIf="i.title == 'For Care with Unlimited Recharge' ">
								<span class="reload"></span>
							</div>
							<div *ngIf="i.title == 'Add No Claim Bonus Super' ">
								<span class="maternity"></span>
							</div>
							<div *ngIf="i.title == 'ProHealth-Reduction in Maternity waiting' ">
								<span class="bonus"></span>
							</div>
							<div *ngIf="i.title == 'Super NCB' ">
								<span class="bonus"></span>
							</div>
							<div *ngIf="i.title == 'Unlimited Reload of Sum Insured' ">
								<span class="reload"></span>
							</div>
							<div *ngIf="i.title == 'Any Room Upgrade' ">
								<span class="roomupgrade"></span>
							</div>

							<div class="addonTitle">
								<h5>{{i.title}}</h5>
								<p>{{i.text}}</p>
							</div>

						</div>

						<div class="col-md-3 text-right">
							<input id="existingpolicy" class="toggles" name="existingpolicy" type="checkbox">
							<label for="existingpolicy"></label>
						</div>
					</div>

				</section>


				<!-- This footer will be common for all sections -->
				<footer>
					<div class="container">
						<div class="row">
							<div class="col-9 offset-3">
								<a  (click)="backTOQuotes()" class="text-left backStep">Back
									to Quotes</a>
								<a href="javascript:void(0);" class="btn continue">Continue</a>
							</div>
						</div>
					</div>

				</footer>

				<div class="overlay d-none" id="error">
					<div class="popup mx-auto text-center">
						<a href="javascript:void(0);" class="cross rounded-circle"></a>
						<img src="images/warning.svg" class="w-75 mb-3" alt="img">
						<h2>SORRY !!</h2>
						<p class="mt-2">If you or any insured member have any pre-existing disease, this insurer doesn't
							cover. Please contact our nearest branch or kindly chat with our online representative or
							call us at <i class="fa fa-phone text-primary"></i> <strong
								class="text-primary">1800-102-0333</strong> for more information. </p>
						<a href="" class="checkout mt-4 d-block">or Checkout with other Insurer</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- JavaScript placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/semantic.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<script>
		$(function () {
			$("#proposerDOB, #datepicker2, #mfgdate").datepicker({
				changeMonth: true,
				changeYear: true,
				dateFormat: 'dd-mm-yy',
				numberOfMonths: [1, 1],
				maxDate: -300,
				dayNamesMin: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
			});
		});
	</script>
	<script>
		$(function () {
			$('.ui.dropdown').dropdown();

			// $('.datedropper').dateDropper();

			$('[name=aadhar_number]').keyup(function () {
				var foo = $(this).val().split("-").join(""); // remove hyphens
				if (foo.length > 0) {
					foo = foo.match(new RegExp('.{1,4}', 'g')).join("-");
				}
				$(this).val(foo);
			});

			$('#registrationDate').on('change input', function () {
				var val = $(this).val();
				var disabledDays = $(this).attr("data-disabled-days").split(",");
				if ($.inArray(val, disabledDays) !== -1) {
					$(this).val("");
					alert("Sorry this date not allowed!");
				}
			});
		});


		$('.backStep').click(function () {
			if ($('#customerDetailsForm').is(':visible')) {
				$('#customerDetailsForm').addClass("d-none");
				$('#proposerAddOns').removeClass("d-none");
				$('.sectionTitle h5').text("Benefits and Discounts");
				$('.backStep').text("Back to Quotes");
			} else if ($('#nomineeDetailsForm').is(':visible')) {
				$('#nomineeDetailsForm').addClass("d-none");
				$('#customerDetailsForm').removeClass("d-none");
				$('.sectionTitle h5').text("Owner Details");
			} else if ($('#addressDetailsForm').is(':visible')) {
				$('#addressDetailsForm').addClass("d-none");
				$('#nomineeDetailsForm').removeClass("d-none");
				$('.sectionTitle h5').text("Nominee Details");
			}
		});
		$('.continue').click(function () {
			if ($('#proposerAddOns').is(':visible')) {
				$('#proposerAddOns').addClass("d-none");
				$('#customerDetailsForm').removeClass("d-none");
				$('.sectionTitle h5').text("Proposer Details");
				$('.backStep').text("Back");
			} else if ($('#customerDetailsForm').is(':visible')) {
				$('#customerDetailsForm').addClass("d-none");
				$('#nomineeDetailsForm').removeClass("d-none");
				$('.sectionTitle h5').text("Nominee Details");
			} else if ($('#nomineeDetailsForm').is(':visible')) {
				$('#nomineeDetailsForm').addClass("d-none");
				$('#addressDetailsForm').removeClass("d-none");
				$('.sectionTitle h5').text("Address Details");
			} else if ($('#addressDetailsForm').is(':visible')) {
				window.location.href = 'Health-medical.html';
			}
		});

		// Premium Revision popup hide
		$('.cross').click(function () {
			$('#premiumRevised').addClass('d-none');
		});

		// Company details show hide
		$('#vehicleOwned').change(function () {
			$('#individualSection').toggleClass('d-none');
			$('#customerGSTNo').toggleClass('d-none');
		});

		// Bank Details Show hide
		$('#isFinanced').change(function () {
			$('#financierDetails').toggleClass('d-none');
			$('#vehicleLoan').text("Yes, This vehicle on loan.");
		});

		// Mailing address show hide
		$('#addressMailingSame').change(function () {
			$('#mailingAddressSection').toggleClass('d-none');
		});

		// Include this for <Select class="ui search dropdown">
		$(document).ready(function () {
			if ($('.ui').find('select').val() != '') {
				$('.ui').find('.titleLabel').addClass('smLabel');
			} else {
				$('.ui').find('.titleLabel').removeClass('smLabel');
			}
			$('.ui').find('select').change(function () {
				if ($(this).val() != '') {
					$(this).parent().find('.titleLabel').addClass('smLabel');
				}
			});
		});
	</script>

</body>

</html>