
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Insurance - Quickbima</title>

    <link rel="stylesheet" href="https://qbstatic.com/css/quotations-v3.css" /> Optional theme

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://qbstatic.com/js/jquery.min.js"></script>
    <script src="https://qbstatic.com/js/bootstrap.min.js"></script>

    <script src="https://quickbima.com/js/semantic.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
        type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.css' rel='stylesheet'
        type='text/css'>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>

</head>
<body class = "modal-open">   

  <div class="container-fluid quotes-page">
<!-- <div class = "quote-wrapper"> -->
<div id="breakupdetails" class="popup-content premium-breakup animated">
  <a class="close" href="javascript:void(0);" id="close-breakup"></a>
<div class = "container">
      <div class="row">
          <div class="col-sm-9 col-sm-offset-3 text-center">
              <h2>Complete Healthcare Insurance (Essential)</h2>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-3">
              <img src="assets/images/Shriram-General-Insurance-Company-Limited.svg"
                  class="insurer" alt="insurer">
              <h3>Sum Insured <i class="fa fa-inr"></i> <span>5 Lakhs</span></h3>
              <p>Premium <small>(Incl. GST)</small></p>

              <h3 class="pull-left"><i class="fa fa-inr"></i> <span
                      class="premium-amount">30,124</span> </h3>
              <a href="" class="buybima pull-left">Buy Bima</a>

              <div class="clearfix"></div>

              <h4>Policy Tenure 1 Year</h4>
              <br>
              <h4>For more details view:</h4>
              <a href="" class="brochure">Policy Brochure</a>
              <a href="" class="hospitals">Network Hospitals </a>
          </div>
          <div class="col-sm-9">
              <div class="inner-part active" id="policyfeatures">
                  <div class="row coveredFeatures">
                      <div class="col-sm-12">
                          <h4 class="text-uppercase"> Covered Special Features</h4>
                          <p>100% Restoration</p>
                          <p>Pre & Post Hospitalisation Expenses</p>
                          <p>No Limit on ICU</p>
                          <p>Domiciliary Hospitalisation</p>
                          <p>Free Annual Health Checkup</p>
                          <p>Maternity Cover</p>
                          <p>No Claim Bonus</p>
                          <p>Alternative / Ayush Treatments</p>
                          <p>Day Care Treatments</p>
                          <p>Organ Donor Expenses</p>
                          <p>Hospital Cash</p>
                          <p>New Born Cover</p>
                      </div>
                  </div>
                  <div class="row coveredFeatures">
                      <div class="col-sm-6">
                          <h4><span>Pre-Existing Diseases -</span> Covered after 4 years
                          </h4>
                      </div>
                      <div class="col-sm-6">
                          <h4><span>Room Rent -</span> No Limit</h4>
                      </div>
                      <div class="col-sm-6">
                          <h4><span>Pre-Hospitalization -</span> 60 Days</h4>
                      </div>
                      <div class="col-sm-6">
                          <h4><span>Post-Hospitalization -</span> 90 Days</h4>
                      </div>
                      <div class="col-sm-6">
                          <h4><span>Ambulance Charges -</span> <i class="fa fa-inr"></i>
                              2,000
                          </h4>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <h4>Tax Benifit</h4>
                          <p>Premiums paid are eligible for tax deduction under Section
                              80D and
                              10 (10D) of the Income Tax Act, 1961.</p>
                      </div>
                  </div>

              </div>

              <div class="inner-part" id="policyexclusions">
                  <div class="row">
                      <div class="col-sm-12">
                          <h4 class="text-uppercase">Exclusions</h4>
                          <div class="points">
                              <div class="circle">1</div>
                              <p>Adventure Sports/ Professional sports/ Defence operation
                                  We do
                                  not cover treatment of an injury sustained whilst you
                                  are:
                                  Training for, or taking part in sport for which you are
                                  paid
                                  or funded by sponsorship or grant (unless you receive
                                  travel
                                  costs only).</p>
                          </div>
                          <div class="points">
                              <div class="circle">2</div>
                              <p>Involved in naval, military, air force operation or any
                                  adventure
                                  sports.</p>
                          </div>
                          <div class="points">
                              <div class="circle">3</div>
                              <p>Birth control, Cosmetic treatment.</p>
                          </div>
                          <div class="points">
                              <div class="circle">4</div>
                              <p>Dental Treatment Save as and to the extent provided for
                                  under
                                  benefit h) and l), dental treatment and surgery of any
                                  kind,
                                  unless requiring hospitalisation.</p>
                          </div>
                          <div class="points">
                              <div class="circle">5</div>
                              <p>Infertility We do not cover treatment directly or
                                  indirectly
                                  arising from or required in connection with infertility
                                  or
                                  any form of assisted reproduction.</p>
                          </div>
                          <div class="points">
                              <div class="circle">6</div>
                              <p>Psycho-geriatric conditions of any kind eating disorders
                                  psychological
                                  conditions such as anxiety bereavement or depression or
                                  any
                                  related conditions. Preventative treatment We do not
                                  cover
                                  inoculations, vaccinations or other treatment, for
                                  example
                                  drugs or surgery, which aims to prevent a disease or
                                  illness
                                  unless specifically mentioned by us as covered.</p>
                          </div>
                          <div class="points">
                              <div class="circle">7</div>
                              <p>Self-inflicted Injury We do not cover treatment directly
                                  or indirectly
                                  arising from or required as a result of self-inflicted
                                  injury
                                  or suicide attempt while sane or insane.
                              </p>
                          </div>
                          <div class="points">
                              <div class="circle">8</div>
                              <p>Sexual dysfunction , Sexually transmitted disease We do
                                  not cover
                                  venereal disease or any other sexually transmitted
                                  diseases
                                  such as AIDS/HIV or any other related arising out of
                                  HIV/AIDS
                                  such as ARC (AIDS related complex), Lymphomas in brain,
                                  Kaposi‘s
                                  sarcoma, tuberculosis. This exclusion does not apply to
                                  treatment
                                  for HIV/AIDS if specifically mentioned as covered in
                                  your
                                  policy schedule.</p>
                          </div>
                          <div class="points">
                              <div class="circle">9</div>
                              <p>The Full Details on the exclusions can be found in the
                                  Policy
                                  Schedule.</p>
                          </div>
                      </div>
                  </div>

              </div>

          </div>
          <!--Right Section End-->
      </div>
  </div>

  <div class="footer">
      <div class="container">
          <div class="col-sm-3">
              <a href="" class="email-plan">Email Plan</a>
          </div>
          <div class="col-sm-9 text-center">
              <ul class="nav-tabs">
                  <li class="breakup active"><a data-toggle="tab"
                          href="#policyfeatures">Features</a></li>
                  <li class="coverage"><a data-toggle="tab"
                          href="#policyexclusions">Exclusions</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
</div>
<script>
  $(".incr-btn").on("click", function (e) {
      var $button = $(this);
      var oldValue = $button.parent().find('.quantity').val();
      $button.parent().find('.incr-btn[data-action="decrease"]').removeClass('inactive');
      if ($button.data('action') == "increase") {
          var newVal = parseFloat(oldValue) + 1;
      } else {
          // Don't allow decrementing below 1
          if (oldValue > 0) {
              var newVal = parseFloat(oldValue) - 1;
          } else {
              newVal = 0;
              $button.addClass('inactive');
          }
      }
      $button.parent().find('.quantity').val(newVal);
      e.preventDefault();
  });

  $(function () {
      $('.nacovers input.checkbox').prop('type', 'text');

      function toggleIcon(e) {
          $(e.target)
              .prev('.panel-heading')
              .find(".more-less")
              .toggleClass('fa-plus-square-o fa-minus-square-o');
      }
      $('.panel-group').on('hidden.bs.collapse', toggleIcon);
      $('.panel-group').on('shown.bs.collapse', toggleIcon);
  });

  $(document).ready(function () {
      $('.dropdown').hover(function () {
          $('.dropdownhover-bottom').addClass('arrowup');
          $('.dropdownhover-top').addClass('arrowdown');
      });
  });

  // Compare Plans
  $('.comparePlans').click(function () {
      $('.comparison').removeClass('sr-only');
  });


  // Email Quotes
  $('.emailQuotes').click(function () {
      $('.enterEmail').removeClass('sr-only');
      $('.emailQuotes').addClass('sr-only');

  });
  // Email Quotes
  $('#sendEmail').click(function () {
      $(this).html('<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>');

      setTimeout(function () {
          $('.enterEmail').addClass('sr-only');
      }, 1900);

      setTimeout(function () {
          $('.sentSuccessfull').removeClass('sr-only');
      }, 2000);

      setTimeout(function () {
          $('.sentSuccessfull').addClass('sr-only');
      }, 4000);

      setTimeout(function () {
          $('.emailQuotes').removeClass('sr-only');
      }, 4100);

  });

  // Add Zero Dep
  $('.zerodep').click(function () {
      $(".added").text($(".added").text() == 'ADD' ? 'ADDED' : 'ADD');
      $('#sure').toggleClass('sr-only');
  });

  // View more claim cases
  $('#viewmore').click(function () {
      $('.more-options').addClass('expanded');
      $('#viewmore').hide();
      $('#viewless').show();
  });
  $('#viewless').click(function () {
      $('.more-options').removeClass('expanded');
      $('#viewless').hide();
      $('#viewmore').show();
  });

  // Modify Details Popup
  $('#editcardetail').click(function () {
      $('#cardetails').removeClass('sr-only');
      $('#cardetails').addClass('fadeInDown');
      $('body').addClass('modal-open');
  });
  $('.skip').click(function () {
      $('#cardetails').addClass('sr-only');
      $('#cardetails').removeClass('fadeInDown');
      $('body').removeClass('modal-open');
  });

  // Discount Popup
  $('#discounts').click(function () {
      $('#discountdetails').removeClass('sr-only');
      $('#discountdetails').addClass('fadeInDown');
      $('body').addClass('modal-open');
  });
  $('.skip').click(function () {
      $('#discountdetails').addClass('sr-only');
      $('#discountdetails').removeClass('fadeInDown');
      $('body').removeClass('modal-open');
  });

  // Brekup Popup
  $('#breakup').click(function () {
      $('#breakupdetails').removeClass('sr-only');
      $('#breakupdetails').addClass('fadeInDown');
      $('body').addClass('modal-open');
  });

  $('.skip').click(function () {
      $('#breakupdetails').addClass('sr-only');
      $('#breakupdetails').removeClass('fadeInDown');
      $('body').removeClass('modal-open');
  });
  // Hide Breakup
  $('#close-breakup').click(function () {
      $('#breakupdetails').addClass('sr-only');
      $('body').removeClass('modal-open');
  });

  jQuery(function ($) {
      // Function which adds the 'animated' class to any '.animatable' in view
      var doAnimations = function () {
          // Calc current offset and get all animatables
          var offset = $(window).scrollTop() + $(window).height(),
              $animatables = $('.animatable');
          // Unbind scroll handler if we have no animatables
          if ($animatables.size() == 0) {
              $(window).off('scroll', doAnimations);
          }
          // Check all animatables and animate them if necessary
          $animatables.each(function (i) {
              var $animatable = $(this);
              if (($animatable.offset().top + $animatable.height() - 20) < offset) {
                  $animatable.removeClass('animatable').addClass('animated');
              }
          });
      };
      // Hook doAnimations on scroll, and trigger a scroll
      $(window).on('scroll', doAnimations);
      $(window).trigger('scroll');
  });

  $(window).load(function () {
      $(".icardv").focusout(function () {
          if ($(this).val() != "") {
              $('.apply').removeClass("sr-only");
          } else {
              $('.apply').addClass("sr-only");
          }
      })
      $(".icardv").focusin(function () {
          $('.apply').removeClass("sr-only");
      })
  });

  $(window).load(function () {
      $(".input-effect input").focusout(function () {
          if ($(this).val() != "") {
              $(this).addClass("has-content");
          } else {
              $(this).removeClass("has-content");
          }
      })
      $(".input-effect input").focusin(function () {
          $(this).removeClass("has-content");
      })
  });

  $(function () {
      $('.ui.dropdown').dropdown();
  });

  function getIndianMoneyFormat(amount) {
      x = amount.toString();
      var lastThree = x.substring(x.length - 3);
      var otherNumbers = x.substring(0, x.length - 3);
      if (otherNumbers != '') lastThree = ',' + lastThree;
      var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
      return res;
  }

  $(document).ready(function () {
      $("#cusIDV").keydown(function (e) {
          // Allow: backspace, delete, tab, escape, enter and .

          if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
              // Allow: Ctrl+A, Command+A
              (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
              // Allow: home, end, left, right, down, up
              (e.keyCode >= 35 && e.keyCode <= 40)) {
              // let it happen, don't do anything
              // var cusIDV   = parseInt($('#cusIDV').val().replace(/,/g, ''));
              //$('#cusIDV').val(getIndianMoneyFormat(cusIDV));
              return;
          }
          // Ensure that it is a number and stop the keypress
          if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
              e.preventDefault();
          }
      }).keyup(function () {
          var cusIDV = $('#cusIDV').val();
          if (cusIDV != '') {
              var cusIDV = parseInt($('#cusIDV').val().replace(/,/g, ''));
              $('#cusIDV').val(getIndianMoneyFormat(cusIDV));
          } else {

          }
      });

      // Claimed last year 
      $('#noclaimedlast').click(function () {
          if ($('#noclaimedlast').is(':checked')) {
              $('.lastncb').addClass('expended');
          }
          else {
              $('.lastncb').removeClass('expended');
          }
      });
      $('#yesclaimedlast').click(function () {
          $('.lastncb').removeClass('expended');
      });

      // Passenger Cover Add or Remove 
      $('.passenger').click(function () {
          if ($('.passenger').is(':checked')) {
              $('.passenger-cover').show();
          }
          else {
              $('.passenger-cover').hide();
          }
      });

      // Claimed
      $('#noclaimed').click(function () {
          if ($('#noclaimed').is(':checked')) {
              $('.prevncb').removeClass('sr-only');
          }
          else {
              $('.prevncb').addClass('sr-only');
          }
      });

      // CNG Kit
      $('#yeskit').click(function () {
          if ($('#yeskit').is(':checked')) {
              $('.kitvalue').removeClass('sr-only');
          }
          else {
              $('.kitvalue').addClass('sr-only');
          }
      });

      $('#yesclaimed').click(function () {
          $('.prevncb').addClass('sr-only');
      });

      $('[data-toggle="tooltip"]').tooltip();

      // Accessories Add or Remove 
      $('.accessories').click(function () {
          if ($('.accessories').is(':checked')) {
              $('.accessoriesfileds').removeClass('sr-only');
          }
          else {
              $('.accessoriesfileds').addClass('sr-only');
          }
      });

      // IDV Modify
      $('.apply').click(function () {
          $('#choose-idv').addClass('sr-only');
          $('#choosenidv').removeClass('sr-only');
          $('.apply').addClass('sr-only');
          $('.reset').removeClass('sr-only');
          $('.change').removeClass('sr-only');
      });

      $('.apply').on('click', function (e) {
          e.preventDefault();
          $('#idvval').text($('#cusIDV').val());
      });

      $('.change, .reset').click(function () {
          $('#choose-idv').removeClass('sr-only');
          $('#choosenidv').addClass('sr-only');
          $('.apply').addClass('sr-only');
          $('.reset').addClass('sr-only');
          $('.change').addClass('sr-only');
      });

      $('.reset').click(function () {
          $('#cusIDV').val('');
      });

  });
</script>

<script>
  $(document).ready(function () {
      $("#test-circle1").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#0076be",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 56,
          halfCircle: 1,
      });
      $("#test-circle2").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#be7000",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 23,
          halfCircle: 1,
      });
      $("#test-circle3").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#00b3be",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 78,
          halfCircle: 1,
      });
      $("#test-circle4").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#00bf4a",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 19,
          halfCircle: 1,
      });
      $("#test-circle5").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#be000b",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 5,
          halfCircle: 1,
      });
      $("#test-circle6").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#be000b",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 5,
          halfCircle: 1,
      });
  });
</script>

</body>
</html>