<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Insurance - Quickbima</title>

    <link rel="stylesheet" href="https://qbstatic.com/css/quotations-v3.css" /> Optional theme

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://qbstatic.com/js/jquery.min.js"></script>
    <script src="https://qbstatic.com/js/bootstrap.min.js"></script>

    <script src="https://quickbima.com/js/semantic.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
        type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.css' rel='stylesheet'
        type='text/css'>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>

</head>
<body> 
  <div class = "quotes-page">  
<div class="comparison">
  <div class="featuresCols">
      <div class="topPart fixedsticky">
          <div class="planNames">
              <a href=""><i class="fa fa-long-arrow-left"></i> Quotes</a>
          </div>
      </div>
      <ul>
          <li>
              <p class="copay">Co-Pay</p>
          </li>
          <!-- <li class="highlight"><p class="preexistingdiseases">Pre-Existing Diseases</p></li> -->
          <li>
              <p class="preexistingdiseases">Pre-Existing Diseases</p>
          </li>
          <li>
              <p class="inpatienttreatments">In Patient Treatments</p>
          </li>
          <li>
              <p class="rechargebenifit">Recharge Benefit</p>
          </li>
          <li>
              <p class="restoration">Restoration</p>
          </li>
          <li>
              <p class="ayushalternativetreatmentcover">Ayush / Alternative Treatment Cover</p>
          </li>
          <li>
              <p class="healthcheckup">Health Checkup</p>
          </li>
          <li>
              <p class="preposthospitalisationexpenses">Pre & Post Hospitalisation Expenses</p>
          </li>
          <li>
              <p class="prehospitalisationcover">Pre Hospitalisation Cover</p>
          </li>
          <li>
              <p class="posthospitalisationcover">Post Hospitalization</p>
          </li>
          <li>
              <p class="opdbenefit">OPD Benefit</p>
          </li>
          <li>
              <p class="roomrent">Room Rent</p>
          </li>
          <li>
              <p class="icucharges">ICU Charges</p>
          </li>
          <li>
              <p class="worldwideemergencyhospitalisation">Worldwide Emergency Hospitalisation</p>
          </li>
          <li>
              <p class="internationaltreaments">International Treatments</p>
          </li>
          <li>
              <p class="daycaretreatments">Day Care Treatments</p>
          </li>
          <li>
              <p class="noclaimbonus">No Claim Bonus</p>
          </li>
          <li>
              <p class="ambulancecover">Ambulance Cover</p>
          </li>
          <li>
              <p class="emergencydomesticevacuation">Emergency Domestic Evacuation</p>
          </li>
          <li>
              <p class="secondmedicalopinion">Second Medical Opinion</p>
          </li>
          <li>
              <p class="domicillaryhospitalisation">Domicillary Hospitalisation</p>
          </li>
          <li>
              <p class="organdonorexpenses">Organ Donor Expenses</p>
          </li>
          <li>
              <p class="maternitycover">Maternity Cover</p>
          </li>
          <li>
              <p class="maternitycoverwaiting">Maternity Cover Waiting</p>
          </li>
          <li>
              <p class="reductionofmaternirywaitingperiod">Reduction of Maternity Waiting Period</p>
          </li>
          <li>
              <p class="newborncover">New Born Cover</p>
          </li>
          <li>
              <p class="newbornvaccination">New Born Vaccination</p>
          </li>
          <li>
              <p class="animalbitecover">Animal Bite Cover</p>
          </li>
          <li>
              <p class="hospitalcash">Hospital Cash</p>
          </li>
          <li>
              <p class="maternitycover">Health & Wellness Discounts</p>
          </li>
          <li>
              <p class="medicaltest">Medical Test</p>
          </li>
          <li>
              <p class="diabetescover">Diabetes Cover</p>
          </li>
          <li>
              <p class="dialysisexpenses">Dialysis Expenses</p>
          </li>
          <li>
              <p class="personalaccidentcover">Personal Accident Cover</p>
          </li>
          <li>
              <p class="dentalopd">Dental OPD</p>
          </li>
          <li>
              <p class="opthamlicopd">Opthamlic OPD</p>
          </li>
          <li>
              <p class="totaldisabilitycover">Total Disability Cover</p>
          </li>
          <li>
              <p class="bariatricsurgery">Bariatric Surgery</p>
          </li>
          <li>
              <p class="deductible">Deductible</p>
          </li>
          <li>
              <p class="terminalillness">Terminal Illness Cover</p>
          </li>
      </ul>
      <div class="productPremium fixedsticky">
          <a href="javascript:void(0);" class="emailComparison">Email Comparison</a>
      </div>
  </div>
  <div class="featuresCols">
      <div class="topPart fixedsticky">
          <a href="javascript:void(0);" class="close-quote"></a>
          <img src="assets/images/Religare-Health-Insurance-Company-Limited.svg" class="insurerLogo" alt="insurer">
          <div class="planNames">
              <p>Care Super Saver</p>
          </div>
      </div>
      <ul>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>Covered after 4 years</p>
          </li>
          <li>
              <p>Upto Sum Insured</p>
          </li>
          <li>
              <p>150% of Sum Insured</p>
          </li>
          <li>
              <p>100% of Sum Insured</p>
          </li>
          <li>
              <p>Upto Sum Insured</p>
          </li>
          <li>
              <p>Every Claim Free Year</p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>30 - 60 Days</p>
          </li>
          <li>
              <p>60 - 90 Days</p>
          </li>
          <li>
              <p>Consulation, Covered after 3 years</p>
          </li>
          <li>
              <p>No Limit</p>
          </li>
          <li>
              <p>No Limit</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>141 Treatments</p>
          </li>
          <li>
              <p>10% of Sum Insured upto 50%</p>
          </li>
          <li>
              <p>Upto <i class="fa fa-inr"></i> 2,000</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>3 Years</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-inr"></i> 500 per day</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Mandatory, From 45 years of Age</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Covered as Day Care</p>
          </li>
          <li>
              <p>Optional</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>As per OPD Limit</p>
          </li>
          <li>
              <p>As per OPD Limit</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Optional</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
      </ul>
      <div class="productPremium fixedsticky">
          <p><i class="fa fa-inr"></i> 12,093 <small>(Incl. GST)</small></p>
          <a href="javascript:void(0);" class="buybima">Buy Bima</a>
      </div>
  </div>
  <div class="featuresCols">
      <div class="topPart fixedsticky">
          <img src="assets/images/Universal-Sompo-General-Insurance-Co-Ltd.svg" class="insurerLogo" alt="insurer">
          <div class="planNames">
              <p>Complete Healthcare Insurance (Essential)</p>
          </div>
      </div>
      <ul>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>Covered after 4 years</p>
          </li>
          <li>
              <p>Upto Sum Insured</p>
          </li>
          <li>
              <p>150% of Sum Insured</p>
          </li>
          <li>
              <p>100% of Sum Insured</p>
          </li>
          <li>
              <p>Upto Sum Insured</p>
          </li>
          <li>
              <p>Every Claim Free Year</p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>30 - 60 Days</p>
          </li>
          <li>
              <p>60 - 90 Days</p>
          </li>
          <li>
              <p>Consulation, Covered after 3 years</p>
          </li>
          <li>
              <p>No Limit</p>
          </li>
          <li>
              <p>No Limit</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>141 Treatments</p>
          </li>
          <li>
              <p>10% of Sum Insured upto 50%</p>
          </li>
          <li>
              <p>Upto <i class="fa fa-inr"></i> 2,000</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>3 Years</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-inr"></i> 500 per day</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Mandatory, From 45 years of Age</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Covered as Day Care</p>
          </li>
          <li>
              <p>Optional</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>As per OPD Limit</p>
          </li>
          <li>
              <p>As per OPD Limit</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Optional</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
      </ul>
      <div class="productPremium fixedsticky">
          <p><i class="fa fa-inr"></i> 12,093 <small>(Incl. GST)</small></p>
          <a href="javascript:void(0);" class="buybima">Buy Bima</a>
      </div>
  </div>
  <div class="featuresCols">
      <div class="topPart fixedsticky">
          <img src="assets/images/CignaTTK-Health-Insurance-Company-Limited.svg" class="insurerLogo" alt="insurer">
          <div class="planNames">
              <p>Complete Healthcare Insurance (Essential)</p>
          </div>
      </div>
      <ul>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>Covered after 4 years</p>
          </li>
          <li>
              <p>Upto Sum Insured</p>
          </li>
          <li>
              <p>150% of Sum Insured</p>
          </li>
          <li>
              <p>100% of Sum Insured</p>
          </li>
          <li>
              <p>Upto Sum Insured</p>
          </li>
          <li>
              <p>Every Claim Free Year</p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>30 - 60 Days</p>
          </li>
          <li>
              <p>60 - 90 Days</p>
          </li>
          <li>
              <p>Consulation, Covered after 3 years</p>
          </li>
          <li>
              <p>No Limit</p>
          </li>
          <li>
              <p>No Limit</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>141 Treatments</p>
          </li>
          <li>
              <p>10% of Sum Insured upto 50%</p>
          </li>
          <li>
              <p>Upto <i class="fa fa-inr"></i> 2,000</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p>3 Years</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-check"></i></p>
          </li>
          <li>
              <p><i class="fa fa-inr"></i> 500 per day</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Mandatory, From 45 years of Age</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Covered as Day Care</p>
          </li>
          <li>
              <p>Optional</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>As per OPD Limit</p>
          </li>
          <li>
              <p>As per OPD Limit</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
          <li>
              <p>Optional</p>
          </li>
          <li>
              <p><i class="fa fa-times"></i></p>
          </li>
      </ul>
      <div class="productPremium fixedsticky">
          <p><i class="fa fa-inr"></i> 12,093 <small>(Incl. GST)</small></p>
          <a href="javascript:void(0);" class="buybima">Buy Bima</a>
      </div>
  </div>
  <div class="footerPart">

  </div>
</div>
  </div>
<script>
  $(".incr-btn").on("click", function (e) {
      var $button = $(this);
      var oldValue = $button.parent().find('.quantity').val();
      $button.parent().find('.incr-btn[data-action="decrease"]').removeClass('inactive');
      if ($button.data('action') == "increase") {
          var newVal = parseFloat(oldValue) + 1;
      } else {
          // Don't allow decrementing below 1
          if (oldValue > 0) {
              var newVal = parseFloat(oldValue) - 1;
          } else {
              newVal = 0;
              $button.addClass('inactive');
          }
      }
      $button.parent().find('.quantity').val(newVal);
      e.preventDefault();
  });

  $(function () {
      $('.nacovers input.checkbox').prop('type', 'text');

      function toggleIcon(e) {
          $(e.target)
              .prev('.panel-heading')
              .find(".more-less")
              .toggleClass('fa-plus-square-o fa-minus-square-o');
      }
      $('.panel-group').on('hidden.bs.collapse', toggleIcon);
      $('.panel-group').on('shown.bs.collapse', toggleIcon);
  });

  $(document).ready(function () {
      $('.dropdown').hover(function () {
          $('.dropdownhover-bottom').addClass('arrowup');
          $('.dropdownhover-top').addClass('arrowdown');
      });
  });

  // Compare Plans
  $('.comparePlans').click(function () {
      $('.comparison').removeClass('sr-only');
  });


  // Email Quotes
  $('.emailQuotes').click(function () {
      $('.enterEmail').removeClass('sr-only');
      $('.emailQuotes').addClass('sr-only');

  });
  // Email Quotes
  $('#sendEmail').click(function () {
      $(this).html('<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>');

      setTimeout(function () {
          $('.enterEmail').addClass('sr-only');
      }, 1900);

      setTimeout(function () {
          $('.sentSuccessfull').removeClass('sr-only');
      }, 2000);

      setTimeout(function () {
          $('.sentSuccessfull').addClass('sr-only');
      }, 4000);

      setTimeout(function () {
          $('.emailQuotes').removeClass('sr-only');
      }, 4100);

  });

  // Add Zero Dep
  $('.zerodep').click(function () {
      $(".added").text($(".added").text() == 'ADD' ? 'ADDED' : 'ADD');
      $('#sure').toggleClass('sr-only');
  });

  // View more claim cases
  $('#viewmore').click(function () {
      $('.more-options').addClass('expanded');
      $('#viewmore').hide();
      $('#viewless').show();
  });
  $('#viewless').click(function () {
      $('.more-options').removeClass('expanded');
      $('#viewless').hide();
      $('#viewmore').show();
  });

  // Modify Details Popup
  $('#editcardetail').click(function () {
      $('#cardetails').removeClass('sr-only');
      $('#cardetails').addClass('fadeInDown');
      $('body').addClass('modal-open');
  });
  $('.skip').click(function () {
      $('#cardetails').addClass('sr-only');
      $('#cardetails').removeClass('fadeInDown');
      $('body').removeClass('modal-open');
  });

  // Discount Popup
  $('#discounts').click(function () {
      $('#discountdetails').removeClass('sr-only');
      $('#discountdetails').addClass('fadeInDown');
      $('body').addClass('modal-open');
  });
  $('.skip').click(function () {
      $('#discountdetails').addClass('sr-only');
      $('#discountdetails').removeClass('fadeInDown');
      $('body').removeClass('modal-open');
  });

  // Brekup Popup
  $('#breakup').click(function () {
      $('#breakupdetails').removeClass('sr-only');
      $('#breakupdetails').addClass('fadeInDown');
      $('body').addClass('modal-open');
  });

  $('.skip').click(function () {
      $('#breakupdetails').addClass('sr-only');
      $('#breakupdetails').removeClass('fadeInDown');
      $('body').removeClass('modal-open');
  });
  // Hide Breakup
  $('#close-breakup').click(function () {
      $('#breakupdetails').addClass('sr-only');
      $('body').removeClass('modal-open');
  });

  jQuery(function ($) {
      // Function which adds the 'animated' class to any '.animatable' in view
      var doAnimations = function () {
          // Calc current offset and get all animatables
          var offset = $(window).scrollTop() + $(window).height(),
              $animatables = $('.animatable');
          // Unbind scroll handler if we have no animatables
          if ($animatables.size() == 0) {
              $(window).off('scroll', doAnimations);
          }
          // Check all animatables and animate them if necessary
          $animatables.each(function (i) {
              var $animatable = $(this);
              if (($animatable.offset().top + $animatable.height() - 20) < offset) {
                  $animatable.removeClass('animatable').addClass('animated');
              }
          });
      };
      // Hook doAnimations on scroll, and trigger a scroll
      $(window).on('scroll', doAnimations);
      $(window).trigger('scroll');
  });

  $(window).load(function () {
      $(".icardv").focusout(function () {
          if ($(this).val() != "") {
              $('.apply').removeClass("sr-only");
          } else {
              $('.apply').addClass("sr-only");
          }
      })
      $(".icardv").focusin(function () {
          $('.apply').removeClass("sr-only");
      })
  });

  $(window).load(function () {
      $(".input-effect input").focusout(function () {
          if ($(this).val() != "") {
              $(this).addClass("has-content");
          } else {
              $(this).removeClass("has-content");
          }
      })
      $(".input-effect input").focusin(function () {
          $(this).removeClass("has-content");
      })
  });

  $(function () {
      $('.ui.dropdown').dropdown();
  });

  function getIndianMoneyFormat(amount) {
      x = amount.toString();
      var lastThree = x.substring(x.length - 3);
      var otherNumbers = x.substring(0, x.length - 3);
      if (otherNumbers != '') lastThree = ',' + lastThree;
      var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
      return res;
  }

  $(document).ready(function () {
      $("#cusIDV").keydown(function (e) {
          // Allow: backspace, delete, tab, escape, enter and .

          if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
              // Allow: Ctrl+A, Command+A
              (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
              // Allow: home, end, left, right, down, up
              (e.keyCode >= 35 && e.keyCode <= 40)) {
              // let it happen, don't do anything
              // var cusIDV   = parseInt($('#cusIDV').val().replace(/,/g, ''));
              //$('#cusIDV').val(getIndianMoneyFormat(cusIDV));
              return;
          }
          // Ensure that it is a number and stop the keypress
          if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
              e.preventDefault();
          }
      }).keyup(function () {
          var cusIDV = $('#cusIDV').val();
          if (cusIDV != '') {
              var cusIDV = parseInt($('#cusIDV').val().replace(/,/g, ''));
              $('#cusIDV').val(getIndianMoneyFormat(cusIDV));
          } else {

          }
      });

      // Claimed last year 
      $('#noclaimedlast').click(function () {
          if ($('#noclaimedlast').is(':checked')) {
              $('.lastncb').addClass('expended');
          }
          else {
              $('.lastncb').removeClass('expended');
          }
      });
      $('#yesclaimedlast').click(function () {
          $('.lastncb').removeClass('expended');
      });

      // Passenger Cover Add or Remove 
      $('.passenger').click(function () {
          if ($('.passenger').is(':checked')) {
              $('.passenger-cover').show();
          }
          else {
              $('.passenger-cover').hide();
          }
      });

      // Claimed
      $('#noclaimed').click(function () {
          if ($('#noclaimed').is(':checked')) {
              $('.prevncb').removeClass('sr-only');
          }
          else {
              $('.prevncb').addClass('sr-only');
          }
      });

      // CNG Kit
      $('#yeskit').click(function () {
          if ($('#yeskit').is(':checked')) {
              $('.kitvalue').removeClass('sr-only');
          }
          else {
              $('.kitvalue').addClass('sr-only');
          }
      });

      $('#yesclaimed').click(function () {
          $('.prevncb').addClass('sr-only');
      });

      $('[data-toggle="tooltip"]').tooltip();

      // Accessories Add or Remove 
      $('.accessories').click(function () {
          if ($('.accessories').is(':checked')) {
              $('.accessoriesfileds').removeClass('sr-only');
          }
          else {
              $('.accessoriesfileds').addClass('sr-only');
          }
      });

      // IDV Modify
      $('.apply').click(function () {
          $('#choose-idv').addClass('sr-only');
          $('#choosenidv').removeClass('sr-only');
          $('.apply').addClass('sr-only');
          $('.reset').removeClass('sr-only');
          $('.change').removeClass('sr-only');
      });

      $('.apply').on('click', function (e) {
          e.preventDefault();
          $('#idvval').text($('#cusIDV').val());
      });

      $('.change, .reset').click(function () {
          $('#choose-idv').removeClass('sr-only');
          $('#choosenidv').addClass('sr-only');
          $('.apply').addClass('sr-only');
          $('.reset').addClass('sr-only');
          $('.change').addClass('sr-only');
      });

      $('.reset').click(function () {
          $('#cusIDV').val('');
      });

  });
</script>

<script>
  $(document).ready(function () {
      $("#test-circle1").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#0076be",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 56,
          halfCircle: 1,
      });
      $("#test-circle2").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#be7000",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 23,
          halfCircle: 1,
      });
      $("#test-circle3").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#00b3be",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 78,
          halfCircle: 1,
      });
      $("#test-circle4").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#00bf4a",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 19,
          halfCircle: 1,
      });
      $("#test-circle5").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#be000b",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 5,
          halfCircle: 1,
      });
      $("#test-circle6").circliful({
          animationStep: 1,
          foregroundBorderWidth: 5,
          backgroundBorderWidth: 5,
          foregroundColor: "#be000b",
          backgroundColor: "#ddd",
          fontColor: '#3a4855',
          percent: 5,
          halfCircle: 1,
      });
  });
</script>

</body>

</html>